com.ae.discordrpc/node_modules/

MoveExtension.ps1
actions.ps1
deployment.txt

# Local helper script (kept for development)

# Build artifacts
build/
dist/

# Release artifacts
*.zip
*.tar.gz

.vscode

com.ae.discordrpc/lib/old (CEP_8.x).js
com.ae.discordrpc/lib/old (CEP_9.x).js

com.ae.discordrpc/bin

# the old NodeJs version of ae discord rpc
old